{{#with film}}
<div class="film" data-url="{{urlSlug}}">
    <div class="film__content">
        <button class="film__close">&times;</button>
        <header class="film__header">
            <div>
                <h3 class="film__header__title">{{title}}</h3>
                <span class="film__header__subtitle">{{subtitle}}</span>
            </div>

            <p class="film__header__details">{{#if year}}{{year}} | {{/if}}{{#if countries}}{{countries}} | {{/if}}{{#if genre}}{{genre}} |
                {{/if}}{{length}}'</p>
        </header>
        <main class="film__main">
            {{#if description}}
            <p class="film__main__description">{{{description}}}</p>
            {{/if}}
            {{#if imageGallery}}
            {{> image-gallery images=imageGallery}}
            {{/if}}
        </main>
        <footer class="film__footer">
            {{#if contributors}}
                {{> titled-list title="Contributors" list=contributors}}
            {{/if}}

            {{#if publicity}}
                {{> titled-list title="Festival and Awards" list=publicity}}
            {{/if}}
        </footer>
    </div>
</div>
{{/with}}