<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta property="og:title" content="{{metaInfo.title}}">
<meta property="og:description" content="{{metaInfo.description}}">
<meta property="og:image" content="{{metaInfo.previewImage.fields.file.url}}?w=240">
<meta property="og:url" content="{{metaInfo.baseUrl}}">
<meta name="twitter:card" content="summary">

<link rel="shortcut icon" href="{{metaInfo.favicon.fields.file.url}}" type="image/x-icon">

<title>
    {{metaInfo.title}}
</title>