<div class="about">
    <p class="about__statement">
        {{about.statement}}
    </p>
    {{#if about.curriculumVitae.fields.file.url}}
    {{#>link external="true" href=about.curriculumVitae.fields.file.url}}Download {{about.curriculumVitae.fields.description}} here.{{/link}}
    {{/if}}
    <div class="about__portrait">
        {{#> lightbox image=about.portraitPhoto.fields}}
        <picture>
            <source media="(min-width: 640px)" srcset="{{../about.portraitPhoto.fields.file.url}}">
            <img src="{{../about.portraitPhoto.fields.file.url}}?w=640" alt="{{../about.portraitPhoto.fields.description}}">
        </picture>
        {{/lightbox}}
    </div>
</div>